* {
  font-family: 'Roboto', sans-serif;
}

.hero-has-bg-image {
  background-image: url('ship.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.showcase-has-image-1 {
  background-image: url('ship-1.jfif');
  background-size: cover;
  background-repeat: no-repeat;
}

.showcase-has-image-2 {
  background-image: url('ship-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.showcase-has-image-3 {
  background-image: url('ship-3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-has-bg-image {
  background-image: url('hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}